@font-face {
    font-family: "Digital";
    src: url(https://mixopedia.000webhostapp.com/projects/Calculator/Digital.ttf);
}
body{
    background-color: rgb(42, 39, 39);
}

.calculator{
    width: 700px;
    height: 913px;
    background: black;
    border-radius: 5%;
    margin: auto; 
    padding: 0.5%; 
}
.inner-box{
    width: 685px;
    height: 899px;
    background: rgb(94, 93, 93);
    border-radius: 4.5%;
    margin: auto;
    padding: 1%;
}
.inner-box1{
    width: 680px;
    height: 819px;
    background-image: linear-gradient(rgb(245, 243, 243),rgb(151, 151, 149),rgba(250, 250, 247, 0.621));
    border-radius: 4.5%;
    margin: auto;
    padding-top: 4%;
}
.display{
    width: 630px;
    height: 120px;
    background: rgb(59, 58, 58);
    border-radius: 20px;
    margin: auto; 
    padding: 0.5%;
}
#screen{
    width: 600px;
    height: 114px;
    background: rgb(204, 252, 220);
    border-radius: 15px;
    margin: auto; 
    font-family: Digital;
    font-size: 100px;
    font: Digital;
    padding-left: 2%;
    padding-right: 2%;
    
}
.buttonL{
    width: 110px;
    height: 110px;
    background: rgb(190, 211, 253);
    border-radius: 20px;
    margin-left: 3.5%;
    margin-right: 2.3%;
    font-size: 300%;
    font-weight: bold; 
}
.buttonR{
    width: 110px;
    height: 110px;
    background: rgb(190, 211, 253);
    border-radius: 20px;
    font-size: 300%;
    font-weight: bold; 
    
}
.button{
    width: 110px;
    height: 110px;
    background: rgb(190, 211, 253);
    border-radius: 20px;
    margin-right: 2.3%;
    font-size: 300%;
    font-weight: bold; 

    
}
.equal-button{
    width: 238px;
    height: 110px;
    background: rgb(190, 211, 253);
    border-radius: 20px;
    font-size: 300%;
    font-weight: bold; 
    
}
.backspace{
    font-size: 70px;
    
}

.raw{
    margin-top: 3%;
    
}
.buttons{
    margin-top: 6%;
}
.glossy-button {
    display: inline-block;
    position: relative;
    background-color: rgb(174, 175, 252);
    background-image: linear-gradient( /* chrome */
      hsla(221, 90%, 80%, 0.6), hsla(231, 85%, 82%, 0) 50%,
      hsla(240, 90%, 35%, 0.3) 50%, hsla(260, 84%, 78%, 0.2)
    );

    font-family: sans-serif;
    font-weight: bold;
    color: rgb(5, 5, 5);
    text-shadow:
      0 0 15px hsla(0, 0%, 100%, 1), /* bloom */
      0 2px 4px hsla(0, 0%, 0%, 0.7); /* drop shadow */
    border: none;
    box-shadow:
      inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
      inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
      /* multiple light sources yall */
      -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
      5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
  }
  
  /* highlight */
  .glossy-button:before {
    content: '';
    display: block;
    position: absolute;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(
      hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0) );
  }
  
  
  .glossy-button:hover {
    transform: scale(1.05);
    box-shadow:
      inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
      inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
      /* multiple light sources yall */
      -12px 12px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
      10px 25px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
  }
  
.social-links {
    text-align: center;
    float: right;
    }
.clearfix {
    display: block;
}
.inner-wrap {
    margin: 0 auto;
    max-width: 1140px;
}
.dark-skin .news-bar {
    background-color: #1e1e1e;
}
.inner-wrap {
    margin: 0 auto;
    max-width: 1140px;
}